// Mixins in here
.buttons {
    color: white;
    background-color: teal;
    border-radius: 12px;
    font-size: 1.9rem;
    text-align: center;
    width: 200px;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
}


.mobilewidth {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}
