// Navigation Styles here
nav {
    display:flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 5vw 0vw 2vw 0vw;

    div{

        margin: 0vw 3vw 0vw 0vw;

        a {
         text-decoration: none;
         color: black;
         margin: 1vw;
         font-size: 1.6rem;
        }
    }

    h2 {
        
        font-size: 4rem;
    }
}